@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
	.center-x {
		left: 50%;
		transform: translateX(-50%);
	}

	.center-y {
		top: 50%;
		transform: translateY(-50%);
	}

	.center-xy {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
